 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2032px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  margin: 65px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 1664px;
  grid-gap: 24px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-1 {
  margin-right: 5px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-2 {
  margin-right: 5px;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-3 {
  margin-right: 5px;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-4 {
  margin-right: 5px;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-5 {
  margin-right: 5px;
}

.u-section-1 .u-text-16 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-6 {
  margin-right: 5px;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-7 {
  margin-right: 5px;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-23 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-8 {
  margin-right: 5px;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-26 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-9 {
  margin-right: 5px;
}

.u-section-1 .u-text-28 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0 0;
  padding: 3px 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1968px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 1368px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 490px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }

  .u-section-1 .u-text-22 {
    width: auto;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-text-23 {
    width: auto;
  }

  .u-section-1 .u-text-25 {
    width: auto;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-text-26 {
    width: auto;
  }

  .u-section-1 .u-text-28 {
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 2671px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 530px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 7384px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 696px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-26 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 4720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 578px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.5rem;
  }
}