.u-section-1 .u-sheet-1 {
  min-height: 268px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52px 0 0;
}

.u-section-1 .u-text-2 {
  width: 842px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-2 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 60px 198px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 791px;
  height: 791px;
  background-image: url("/images/pexels-fauxels-31828331.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -262px auto 0 32px;
}

.u-section-2 .u-shape-2 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -182px auto 0 13px;
}

.u-section-2 .u-group-1 {
  width: 634px;
  min-height: 665px;
  height: auto;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -270px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 7px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 13px 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 52px auto 0 43px;
  padding: 13px 52px 15px 51px;
}

.u-section-2 .u-shape-3 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -481px auto 335px 276px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 102px;
  }

  .u-section-2 .u-image-1 {
    width: 728px;
    height: 728px;
    margin-top: -289px;
  }

  .u-section-2 .u-shape-2 {
    width: 248px;
    height: 248px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 590px;
    height: auto;
  }

  .u-section-2 .u-shape-3 {
    width: 120px;
    height: 120px;
    margin-top: -396px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-2 .u-shape-1 {
    width: 277px;
    height: 277px;
    margin-right: 29px;
  }

  .u-section-2 .u-image-1 {
    width: 585px;
    height: 585px;
    margin-top: -310px;
    margin-left: 22px;
  }

  .u-section-2 .u-shape-2 {
    width: 201px;
    height: 201px;
    margin-top: -111px;
  }

  .u-section-2 .u-group-1 {
    width: 475px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-shape-3 {
    width: 99px;
    height: 99px;
    margin-top: -141px;
    margin-left: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-2 .u-shape-1 {
    width: 210px;
    height: 210px;
    margin-top: 13px;
    margin-right: -17px;
  }

  .u-section-2 .u-image-1 {
    width: 494px;
    height: 494px;
    margin-top: -193px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    width: 211px;
    height: 211px;
    margin-top: -184px;
    margin-left: -35px;
  }

  .u-section-2 .u-group-1 {
    min-height: 587px;
    margin-top: -65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -686px;
    margin-right: 13px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-shape-1 {
    width: 144px;
    height: 144px;
    margin-top: 63px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 332px;
    height: 332px;
    margin-top: -152px;
    margin-left: -29px;
  }

  .u-section-2 .u-shape-2 {
    width: 120px;
    height: 120px;
    margin-top: -47px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -226px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-shape-3 {
    width: 88px;
    height: 88px;
    margin-top: -420px;
    margin-right: -50px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  width: 659px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 380px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-1 {
  margin-right: 5px;
  font-size: 2.25em;
  vertical-align: -9px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-2 {
  margin-right: 5px;
  font-size: 2.1667em;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-3 {
  margin-right: 5px;
  font-size: 2.1667em;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-4 {
  margin-right: 5px;
  font-size: 2.1667em;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-5 {
  margin-right: 5px;
  font-size: 2.1667em;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-6 {
  margin-right: 5px;
  font-size: 2.1667em;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-7 {
  margin-right: 5px;
  font-size: 1.8334em;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-8 {
  margin-right: 5px;
  font-size: 1.8334em;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 9px -30px 0 0;
}

.u-section-3 .u-icon-9 {
  margin-right: 5px;
  font-size: 1.8334em;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 60px;
  padding: 13px 52px 15px 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 313px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.375rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.375rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 599px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 2px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-container-layout-9 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 19px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 506px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 45px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 461px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 88px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 21px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -66px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 28px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}